.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Criminal card itself */

.criminal {
    background-image: url(https://cdn.pixabay.com/photo/2015/05/05/09/42/paper-753508_1280.jpg);
    border-radius: 10px 50px 10px 10px;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    flex-basis: 27%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: all .2s ease-in-out;
}

/* Criminal card details */

.criminal__name {
    margin: .5rem 0rem 0.5rem .5rem;
}

.criminal__details p {
    margin: .5rem ;
}

/* Buttons on the criminal cards */

.buttonContainer {
    text-align: center;
}

.associates--button {
    border: black 2px solid;
    border-radius: .3rem;
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    color: black;
    font-family: 'Baloo 2', cursive;
    transition: all .2s ease-in-out;
}

.associates--button:hover {
    color: rgb(0, 113, 147);
    border: rgb(0, 113, 147) 2px solid;
    background-color: whitesmoke
}