@import "./criminals.css";
@import "./filter.css";
@import "./notes.css";
@import "./dialogs.css";

body {
    background-color: rgb(0, 113, 147);
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.listsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h1, h2, h3, h4 , h5 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: 'Baloo 2', cursive;
}