@import "./criminals.css";
@import "./filter.css";
@import "./notes.css";

body {
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.listsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}